.weatherCard {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  background-image: url(./5eeca206ab6db9dc578e3c3d96b4a80e.jpg);
  color: rgb(26, 26, 26);
}

.weatherCard_img {
border: 1px solid black;
border-radius: 15%;
background-color: rgba(127, 255, 212, 0.638);
}
.weatherCard_place {
  margin-bottom: 0;
}

.weatherCard_title {
  font-size: 30px;
}

.weatherCard_temp {
  font-size: 30px;
  margin: 5px 0;
}

.weatherCard_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.weatherCard_list span {
  font-weight: bold;
}

.weatherCard_description {
  color: rgba(14, 15, 16, 0.581);
  font-size: 20px;
  margin: 15px 0;
}

.weatherCard_btn {
  border: 1px solid gray;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color:  rgba(127, 255, 212, 0.638);
  cursor: pointer;
  transition: transform 200ms ease;
}

.weatherCard_btn:hover {
  transform: scale(1.02);
  font-weight: bold;
  background-color:  rgba(127, 255, 212, 0.932);
  border: 2px solid gray;
}