.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 20px;
  background-image: url(./HD-wallpaper-different-weathers-new-nice.jpg);
}