.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
  padding: 20px;
  background-image: url(https://w0.peakpx.com/wallpaper/630/514/HD-wallpaper-different-weathers-new-nice.jpg);
}
